{% extends "blog/base.html" %} 

{% load static %} 

{% block data %}

<div class="col-12 col-lg-8">



  <div class="single-blog-area">
    <!-- Post Thumbnail -->
    <div class="blog-post-thumbnail">
      <img src="{{ blog.image.url }}" alt="" />
    </div> 
    <!-- Post Content -->
    <div class="post-content">
      <!-- Date -->
      <div class="post-date">
        <a href="#">{{ blog.created_at }}</a>
      </div>
      <!-- Headline -->
      <a href="#" class="headline">{{ blog.title }}</a>
      <!-- Post Meta -->
      <div class="post-meta">
        <p>
          By <a href="#">Admin</a> | in <a href="#">{{ blog.category.name }}</a> |
          <a href="#">{{ blog.comments }} Comments</a>
        </p>
      </div>
      <p>
        {{ blog.desc }}
      </p>
      {% comment %} <img class="mb-50" src="img/bg-img/hero3.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia minus in
        recusandae cumque, laboriosam mollitia inventore nisi autem maiores
        nostrum ipsa labore beatae amet, dolore ex error fugit sunt aspernatur
        quidem. Sed laboriosam nihil consectetur facilis aliquid labore
        necessitatibus nemo dolore? Perspiciatis corrupti consectetur, doloribus
        aliquid voluptatibus ab atque inventore, est voluptates. Eum veniam hic
        velit, quia voluptates? Numquam aliquam accusantium hic iste, sequi nisi
        maiores minus iure eos est unde eum dolore amet suscipit?
      </p> {% endcomment %}
    </div>
  </div>




  <div class="comments-area">
    <h5>4 Comments</h5>
    <ol>
      <!-- Single Comment Area -->
      <li class="single_comment_area">
        <div class="comment-wrapper d-flex">
          <!-- Comment Meta -->
          <div class="comment-author">
            <img src="{% static 'img/blog-img/c-1.jpg' %}" alt="" />
          </div>
          <!-- Comment Content -->
          <div class="comment-content">
            <div class="comment-meta">
              <a href="#" class="comment-author-name">Maria Williams</a> |
              <a href="#" class="comment-date">Jan 29, 2018</a> |
              <a href="#" class="comment-reply">Reply</a>
            </div>
            <p>
              Consectetur adipiscing elit. Praesent vel tortor facilisis,
              volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Su
              spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a
              consequat.
            </p>
          </div>
        </div>
        <ol class="children">
          <li class="single_comment_area">
            <div class="comment-wrapper d-flex">
              <!-- Comment Meta -->
              <div class="comment-author">
                <img src="{% static 'img/blog-img/c-2.jpg' %}" alt="" />
              </div>
              <!-- Comment Content -->
              <div class="comment-content">
                <div class="comment-meta">
                  <a href="#" class="comment-author-name">Maria Williams</a> |
                  <a href="#" class="comment-date">Jan 29, 2018</a> |
                  <a href="#" class="comment-reply">Reply</a>
                </div>
                <p>
                  Consectetur adipiscing elit. Praesent vel tortor facilisis,
                  volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Su
                  spendisse sit amet laoreet neque. Fusce sagittis suscipit sem
                  a consequat.
                </p>
              </div>
            </div>
          </li>
        </ol>
      </li>
      <li class="single_comment_area">
        <div class="comment-wrapper d-flex">
          <!-- Comment Meta -->
          <div class="comment-author">
            <img src="{% static 'img/blog-img/c-3.jpg' %}" alt="" />
          </div>
          <!-- Comment Content -->
          <div class="comment-content">
            <div class="comment-meta">
              <a href="#" class="comment-author-name">Maria Williams</a> |
              <a href="#" class="comment-date">Jan 29, 2018</a> |
              <a href="#" class="comment-reply">Reply</a>
            </div>
            <p>
              Consectetur adipiscing elit. Praesent vel tortor facilisis,
              volutpat nulla placerat, tincidunt mi. Nullam vel orci dui. Su
              spendisse sit amet laoreet neque. Fusce sagittis suscipit sem a
              consequat.
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>

  <!-- Leave A Comment -->
  <div class="leave-comment-area mt-70 clearfix">
    <div class="comment-form">
      <h5>Leave a reply</h5>

      <!-- Comment Form -->
      <form action="#" method="post">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="contact-name"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="contact-email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Message"
          ></textarea>
        </div>
        <button type="submit" class="btn south-btn">Submit Reply</button>
      </form>
    </div>
  </div>
</div>



{% endblock data %}
