{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Property</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Advance Search Area Start ##### -->
    <div class="south-search-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="advanced-search-form">
                        <!-- Search Title -->
                        <div class="search-title">
                            <p>Search for your home</p>
                        </div>
                        <!-- Search Form -->
                        <form action="/listings/" method="get" id="advanceSearch">
            <div class="row">

              <!-- Keyword -->
              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="keyword"
                    placeholder="Keyword (e.g. luxury, villa)"
                  />
                </div>
              </div>

              <!-- City -->
              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    name="city"
                    placeholder="City"
                  />
                </div>
              </div>

              <!-- Category -->
              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <select class="form-control" name="category">
                    <option value="all">All Categories</option>
                    {% for category in categories %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <!-- Status -->
              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <select class="form-control" name="status">
                    <option value="">All Status</option>
                    <option value="sale">For Sale</option>
                    <option value="rent">For Rent</option>
                  </select>
                </div>
              </div>



              <!-- Price Range -->
              <div class="col-12 col-md-6 col-xl-4 d-flex flex-column">
                <div class="slider-range w-100">
                  <label class="d-block mb-1">Price Range ($)</label>
                  <div
                    id="priceSlider"
                    data-min="10000"
                    data-max="1000000"
                    data-step="1000"
                  ></div>
                  <div class="range mt-2">
                    <span id="priceRange">10000 - 1000000</span>
                  </div>
                  <input type="hidden" name="price_min" id="priceMin" />
                  <input type="hidden" name="price_max" id="priceMax" />
                </div>
              </div>

              <!-- Size Range -->
              <div class="col-12 col-md-6 col-xl-4 d-flex flex-column">
                <div class="slider-range w-100">
                  <label class="d-block mb-1">Size Range (sq. ft)</label>
                  <div
                    id="sizeSlider"
                    data-min="50"
                    data-max="1000"
                    data-step="10"
                  ></div>
                  <div class="range mt-2">
                    <span id="sizeRange">50 - 1000 sq. ft</span>
                  </div>
                  <input type="hidden" name="size_min" id="sizeMin" />
                  <input type="hidden" name="size_max" id="sizeMax" />
                </div>
              </div>

              <!-- More Filters -->
              <div class="col-12 search-form-second-steps" style="display: none;">
                <div class="row mt-3">


                    <!-- Bathrooms -->
                    <div class="col-12 col-md-4 col-xl-2">
                        <div class="form-group">
                        <select class="form-control" name="bathrooms">
                            <option value="">Bathrooms</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5+</option>
                        </select>
                        </div>
                    </div>

                  <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" name="garages">
                        <option value="">Garages</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                      </select>
                    </div>
                  </div>    

                </div>
              </div>

              <!-- Buttons -->
              <div class="col-12 d-flex justify-content-between align-items-end mt-3">
                <div class="more-filter">
                  <a href="#" id="moreFilter">+ More filters</a>
                </div>
                <div class="form-group mb-0">
                  <button type="submit" class="btn south-btn">Search</button>
                </div>
              </div>

            </div>
          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Advance Search Area End ##### -->

    <!-- ##### Listings Content Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Single Listings Slides -->
                    <div class="single-listings-sliders owl-carousel">
                        <!-- Single Slide -->
                        {% for image in images %}
                            <img src="{{ image.image.url }}" alt="{{ image.name }}">
                        {% endfor %}
                            <img src="{{ home.main_image.url }}" alt="">
                        <!-- Single Slide -->
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="listings-content">
                        <!-- Price -->
                        <div class="list-price">
                            <p>${{ home.price }}</p>
                        </div>
                        <h5>{{ home.name }}</h5>
                        <p class="location"><img src="img/icons/location.png" alt="">{{ home.city }}</p>
                        <p>{{ home.desc }}</p>
                        <!-- Meta -->
                        <div class="property-meta-data d-flex align-items-end">
                            <div class="new-tag">
                                {% if home.is_new == True %}
                                        <img src="{% static 'img/icons/new.png' %}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/icons/prize.png' %}" alt="">
                                    {% endif %}
                            </div>
                            <div class="bathroom">
                                <img src="{% static 'img/icons/bathtub.png' %}" alt="">
                                <span>2</span>
                            </div>
                            <div class="garage">
                                <img src="{% static 'img/icons/garage.png' %}" alt="">
                                <span>2</span>
                            </div>
                            <div class="space">
                                <img src="{% static 'img/icons/space.png' %}" alt="">
                                <span>{{ home.size }} sq ft</span>
                            </div>
                        </div>
                        <!-- Core Features -->
                        <ul class="listings-core-features d-flex align-items-center">
                            <li><i class="fa fa-check" aria-hidden="true"></i> Gated Community</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Automatic Sprinklers</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Fireplace</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Window Shutters</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Ocean Views</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Heated Floors</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Heated Floors</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Private Patio</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Window Shutters</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Fireplace</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Beach Access</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Rooftop Terrace</li>
                        </ul>
                        <!-- Listings Btn Groups -->
                        <div class="listings-btn-groups">
                            <a href="#" class="btn south-btn">See Floor plans</a>
                            <a href="#" class="btn south-btn active">calculate mortgage</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="contact-realtor-wrapper">
                        <div class="realtor-info">
                            <img src="img/bg-img/listing.jpg" alt="">
                            <div class="realtor---info">
                                <h2>Jeremy Scott</h2>
                                <p>Realtor</p>
                                <h6><img src="img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                                <h6><img src="img/icons/envelope.png" alt=""> office@template.com</h6>
                            </div>
                            <div class="realtor--contact-form">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="realtor-name" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="realtor-number" placeholder="Your Number">
                                    </div>
                                    <div class="form-group">
                                        <input type="enumber" class="form-control" id="realtor-email" placeholder="Your Mail">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="realtor-message" cols="30" rows="10" placeholder="Your Message"></textarea>
                                    </div>
                                    <button type="submit" class="btn south-btn">Send Message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Maps -->
            <div class="row">
                <div class="col-12">
                    <div class="listings-maps mt-100">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Listings Content Area End ##### -->


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
<link
  rel="stylesheet"
  href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css"
/>

<script>
  $(function () {
    // PRICE SLIDER
    const priceMin = $("#priceSlider").data("min");
    const priceMax = $("#priceSlider").data("max");
    const priceStep = $("#priceSlider").data("step");

    $("#priceSlider").slider({
      range: true,
      min: priceMin,
      max: priceMax,
      step: priceStep,
      values: [priceMin, priceMax],
      slide: function (event, ui) {
        $("#priceRange").text(ui.values[0] + " - " + ui.values[1]);
        $("#priceMin").val(ui.values[0]);
        $("#priceMax").val(ui.values[1]);
      },
    });
    $("#priceMin").val(priceMin);
    $("#priceMax").val(priceMax);

    // SIZE SLIDER
    const sizeMin = $("#sizeSlider").data("min");
    const sizeMax = $("#sizeSlider").data("max");
    const sizeStep = $("#sizeSlider").data("step");

    $("#sizeSlider").slider({
      range: true,
      min: sizeMin,
      max: sizeMax,
      step: sizeStep,
      values: [sizeMin, sizeMax],
      slide: function (event, ui) {
        $("#sizeRange").text(ui.values[0] + " - " + ui.values[1] + " sq. ft");
        $("#sizeMin").val(ui.values[0]);
        $("#sizeMax").val(ui.values[1]);
      },
    });
    $("#sizeMin").val(sizeMin);
    $("#sizeMax").val(sizeMax);
  });
</script>


   {% endblock content %}